VITE_API_URL="http://localhost:8000"
VITE_CLIENT_ID="<frontend-spa-client-id>"
VITE_TENANT_ID="<tenant-id>"
VITE_ENTRA_API_SCOPE="api://<frontend-spa-client-id>/access_as_user"

VITE_ENABLE_HELP_PAGE="false"
VITE_HELP_DOCUMENTATION_URL=""
VITE_SUPPORT_REQUEST_URL=""
